asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.5
idna==3.15
pillow==12.2.0
python-dotenv==1.2.2
reportlab==4.5.0
requests==2.34.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
sentry-sdk==1.45.0
gunicorn==21.2.0
psycopg2-binary==2.9.10
dj-database-url==3.0.1
whitenoise==6.11.0
django-storages==1.14.4
boto3==1.35.0
django-cors-headers==4.7.0
cloudinary==1.44.2
django-cloudinary-storage==0.3.0
git+https://github.com/Safacts/Nidhi.git@development-v1#subdirectory=nidhi-sdk
PyJWT==2.10.1
cryptography==46.0.3
